#datetime-picker {
    width: 272px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #0000006b;
}

#datetime-picker:hover && #datetime-picker:enabled {
    border-color: #000;
}

#datetime-picker:focus {
    border-color: #4e75ff;
}

#datetime-picker:disabled {
    color: #808080;
    cursor: auto;
}

.container button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    margin-left: 8px;
}

button[data-start]:disabled {
    color: #989898;
    background: #cfcfcf;
}

button[data-start]:enabled {
    color: #fff;
    background: #4e75ff;
    cursor: pointer;
}

button[data-start]:enabled:hover {
    background: #6c8cff;
}

.timer{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;};